*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: gray;
}
.box{
    width: 1280px;
    margin: 0 auto;
}
